body {
    margin: 0;
    padding: 0;
	overflow:hidden;
}
* {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
.bar {
	position:absolute;
	bottom:0;
}
.button {
  background: yellow;
  color: black;
  padding: 10px 20px;
  margin-top: 2px;
  cursor: pointer;
}
