@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;

}
.menuVis {
    transform: translateY(10px);
    opacity: 0;
}

.menuswitch {
    background-color: #CC0000;
    cursor: pointer;
    display: block;
    height: 30px;
    z-index: 500;
    position: absolute;
    right: 20px;
    width: 30px;
    opacity: 1;
    -webkit-transition: all .2s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all .2s cubic-bezier(0.86, 0, 0.07, 1);
    top: 20px;
    margin-left: -15px;
}

.menuswitch::before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -1px;
    -webkit-transition: all .2s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all .2s cubic-bezier(0.86, 0, 0.07, 1);
    border-radius: 2px;
}

.menuswitch::after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: white;
    transform: rotate(45deg);
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: all .2s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all .2s cubic-bezier(0.86, 0, 0.07, 1);
    border-radius: 2px;
}

.menuswitch.plus::before,
.menuswitch.plus::after {
    -webkit-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    transform: rotate(0deg);
}
.menuClickZone {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(255,255,255, .05);
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 600;
}
.s-btn-container {
    width: 100px;
    height: auto;
    display: block;
    position: absolute;
    right: 0;
    z-index: 400;
    padding: 0;
    bottom: -78px;
    margin: 0;
    -webkit-transition: all .2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: all .2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    overflow: hidden;
}
.s-btn {
    width: auto;
    height: auto;
    display: list-item;
    text-align: center;
    background: none;
    list-style-type: none;
    padding: 5px 8px;
    margin: 0 0px;
    color: #333;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #f9f9f9;
    font-size: 11px;
    position: relative;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    font-weight: normal;
}

.s-btn:hover {
    background-color: #CC0000 !important;
    color: white;
}

.s-btnActive {
    background-color: #CC0000 !important;
    color: white;
}