@font-face {
    font-family: 'OpenSansRegular';
    src: url('font/OpenSans-Regular-webfont.eot');
    src: url('font/fontOpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/fontOpenSans-Regular-webfont.woff') format('woff'), url('font/fontOpenSans-Regular-webfont.ttf') format('truetype'), url('font/fontOpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-weight: 400;
    margin: 0px;
    overflow: hidden;
    font-family: 'OpenSansRegular', Arial, sans-serif;
}
#container {
    z-index: 100;
    position: absolute;
    display: block;
    float: left;
    overflow: hidden;
    background: #696969;
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}